<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Menú</span></a></div>
        <div class="center sliding">P&oacute;lizas Registradas</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="list-policies" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Tus P&oacute;lizas</div>
            <div id="lst-policies" class="list-block virtual-list media-list">
            </div>
            <div class="content-block inset">
                <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare sodales bibendum. Sed orci ipsum, maximus sed finibus eget, tempus eu libero.</p>
            </div>
        </div>
    </div>
</div>