<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>P&oacute;lizas</span></a></div>
        <div class="center sliding">Valijas</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="list-baggages" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Contraseñas Equipaje</div>

            <div class="content-block inset">
                <div class="content-block-inner" style="margin-bottom:0;padding-bottom:0">
                    <p class="color-gray">Donec et nulla auctor massa pharetra adipiscing ut sit amet sem.</p>
                    <div id="lst-baggages" class="list-block virtual-list media-list" style="margin-bottom:0;padding-bottom:0">
                    </div>
                </div>

                <div class="content-block" style="margin-top:0;padding-top: 0">
                    <p class="color-gray">Donec et nulla auctor massa pharetra adipiscing ut sit amet sem.</p>
                    <div class="list-block  media-list">
                        <ul>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Número de Vuelo</div>
                                    </div>
                                    <div class="item-text">Lorem ipsum dolor sit amet</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Ruta</div>
                                    </div>
                                    <div class="item-text">Lorem ipsum / dolor sit amet</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Código de Reservación</div>
                                    </div>
                                    <div class="item-text">HJS4566</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Hora</div>
                                    </div>
                                    <div class="item-text">00:00 AM</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Fecha</div>
                                    </div>
                                    <div class="item-text">Mes Dia, Año</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="content-block">
                <p><a id="add-policy" href="#" class="button button-big button-round color-green">GENERAR P&Oacute;LIZA</a></p>
            </div>
        </div>
    </div>
</div>