<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Contrato</span></a></div>
        <div class="center sliding">Crear Cuenta</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="sign-in" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Nuevo Usuario</div>

            <div class="list-block inset">
                <form id="frm-sign-in" name="frm-sign-in">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">Nombre</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Tu Nombre"  id="signin[name]" name="signin[name]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">Apellido</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Tu Apellido" id="signin[lastname]" name="signin[lastname]">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-email"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">E-Mail</div>
                                    <div class="item-input">
                                        <input type="text" name="signin[eamil]"  placeholder="Tu E-Mail"  />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-password"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">Contraseña</div>
                                    <div class="item-input">
                                        <input type="text" name="signin[pass]"  placeholder="Tu Contraseña"  />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="content-block">
                <p><a id="s-sigin" href="#" class="button button-big button-round color-bluegray">Ya Tengo Cuenta</a></p>
            </div>


            <div class="content-block">
                <p><a id="new-sigin" href="#" class="button button-big button-round color-green">Crear</a></p>
            </div>

        </div>
    </div>
</div>