<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Selección</span></a></div>
        <div class="center sliding">Tercer Paso</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="step04" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Condiciones Generales</div>

            <div class="content-block inset">
                <!-- <img src="./img/app/logo-2.png" class="img-responsive img-logo">-->
                <p class="app-name">Tripper</p><p class="app-name">Lock</p>

                <div class="content-block-inner">
                    <div class="card ft-detail-header-img">
                        <div class="card-content">
                            <div class="card-content-inner">
                            <p class="color-gray">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus a ex id tempor. Nunc tristique lacus sit amet varius auctor. Morbi rhoncus, diam sit amet sagittis sodales, quam enim bibendum leo, in mattis ex mauris non dui. Maecenas nunc augue, faucibus eget dui ac, aliquam dapibus nisi. Curabitur dapibus libero turpis, in ullamcorper libero venenatis ut. Quisque sit amet dictum eros. Quisque neque ante, egestas in mollis id, feugiat sed dui. Sed faucibus massa urna, sit amet gravida dui eleifend vitae. Donec eleifend mollis mollis.
                                </p>
                                <p class="color-gray">
                                    Morbi sollicitudin enim a ipsum tempor scelerisque. Duis sit amet elit volutpat, malesuada felis a, egestas diam. Nunc mattis pulvinar posuere. Nulla volutpat purus ac lorem blandit suscipit. Praesent aliquet nibh nunc, sit amet suscipit sem posuere sed. Ut ut erat ullamcorper, maximus ex a, posuere diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse vestibulum scelerisque velit at aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum magna ante, eu ultrices sapien gravida in.
                                </p>
                                <p class="color-gray">
                                    Sed id elementum justo. Proin sed quam magna. Morbi laoreet eros vitae orci ultricies, a lobortis enim vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus odio id ultrices luctus. In sit amet libero at ex pellentesque pharetra eget vel est. Sed a sem at tellus rhoncus eleifend. In tempor gravida eleifend. Ut neque enim, condimentum vitae eleifend sit amet, posuere dignissim elit. Proin a convallis mi. Cras lobortis, orci quis pharetra elementum, metus lectus efficitur sem, quis aliquet elit nulla eu elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras pulvinar facilisis nibh, eu maximus orci dapibus ac. Vivamus bibendum nec ex venenatis ornare. Mauris aliquet arcu ac euismod porta.
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus a ex id tempor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-block">
                <p><a id="to-step-5" href="#" class="button button-big button-round color-green">Aceptar</a></p>
            </div>

        </div>
    </div>
</div>

