<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Detalle</span></a></div>
        <div class="center sliding">Vuelo</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="step02" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Vuelo de Ida</div>

            <form id="fligth" name="fligth">
            <div style="margin:0" class="list-block media-list">
                <ul style="border-top:none">
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Hora</div>
                                </div>
                                <input type="text" placeholder="00:00 AM" name="fligth[hour]" id="fligth[hour]">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Fecha</div>
                                </div>
                                <input type="text" placeholder="Mes Dia, Año" name="fligth[day]" id="fligth[day]">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="roundtrip-content" class="hide">
            <div class="content-block-title">Vuelo de Regreso</div>

            <div style="margin:0" class="list-block media-list">
                <ul style="border-top:none">
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Hora</div>
                                </div>
                                <input type="text" placeholder="00:00 AM" name="fligth[returnhour]" id="fligth[returnhour]">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Fecha</div>
                                </div>
                                <input type="text" placeholder="Mes Dia, Año" name="fligth[returnday]" id="fligth[returnday]">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            </form>

            <div class="content-block">
                <p><a id="to-step-3" href="#" class="button button-big button-round color-green">Detalle del Servicio</a></p>
            </div>

        </div>
    </div>
</div>