<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Anterior</span></a></div>
        <div class="center sliding">Quinto Paso</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="step07" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Póliza</div>

            <div class="list-block media-list inset">
                <form id="frm-policy" name="frm-policy">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Nombre" name="policy[name]" id="policy[name]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Número de Vuelo" name="policy[flight]" id="policy[flight]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Ruta</div>
                                    </div>
                                    <div class="item-text">Lorem ipsum dolor /  sit amet</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Código de Reservación" name="policy[code]" id="policy[code]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Hora</div>
                                    </div>
                                    <input type="text" placeholder="00:00 AM" name="policy[hour]" id="policy[hour]">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Fecha</div>
                                    </div>
                                    <input type="text" placeholder="Mes Dia, Año" name="policy[day]" id="policy[day]">
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="content-block">
                <p><a id="to-step-8" href="#" class="button button-big button-round color-green">Generar Póliza</a></p>
            </div>
        </div>
    </div>
</div>