<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Selección</span></a></div>
        <div class="center sliding">Tercer Paso</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="step04" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Condiciones Generales</div>

            <div class="content-block inset">
                <!-- <img src="./img/app/logo-2.png" class="img-responsive img-logo">-->
                <p class="app-name">Tripper</p><p class="app-name">Lock</p>

                <div class="content-block-inner">
                    <div class="card ft-detail-header-img">
                        <div class="card-content">
                            <div class="card-content-inner">

                                <p>En acatamiento a lo dispuesto por el artículo 26 de la Ley Sobre el Contrato de Seguro, se inserta textualmente el artículo 25 de la misma ley:</p>
                                <p class="color-gray">“Artículo 25. Si el contenido de la póliza o sus modificaciones no concordaren con la oferta, el asegurado podrá pedir  la  rectificación correspondiente dentro  de  los  treinta  días  que  sigan  al  día  en  que  reciba  la  póliza. Transcurrido este plazo se considerarán aceptadas las estipulaciones de la póliza o de sus modificaciones.”</p>
                                <p class="color-gray">
                                Definiciones.<br/>
                                Para los fines de esta póliza se hacen constar las siguientes definiciones:<br/><br/>
                                a) Asegurado<br/>
                                Es la persona física o jurídica titular del interés asegurable, a cuyo nombre se expide esta póliza, con los derechos y obligaciones que le corresponden legal y contractualmente.<br/><br/>
                                b) Agravación del riesgo<br/>
                                Situación que se produce cuando, por determinados acontecimientos ajenos o no a la voluntad del Asegurado, el riesgo cubierto por esta póliza adquiera  una peligrosidad superior a la inicialmente prevista, su modificación implica la obligación de notificarla a GMX Seguros para que ésta opte entre la continuación de su cobertura o la rescisión del contrato.<br/><br/>
                                c) Deducible<br/>
                                Es la cantidad que en cada siniestro queda a cargo del Asegurado, estipulándose como un porcentaje sobre la pérdida.<br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-block">
                <p><a id="to-step-5" href="#" class="button button-big button-round color-green">Aceptar</a></p>
            </div>

        </div>
    </div>
</div>

