<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">Quinto Paso</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="step06" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Datos de Facturación</div>

            <div class="list-block inset">
                <form id="frm-invoice" name="frm-invoice">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Nombre/Razón Social" name="invoice[name]" id="invoice[name]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="RFC" name="invoice[rfc]" id="invoice[rfc]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Calle y Número" name="invoice[address]" id="invoice[address]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Colonia" name="invoice[colonia]" id="invoice[colonia]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Ciudad" name="invoice[city]" id="invoice[city]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Delegación/Municipio" name="invoice[muni]" id="invoice[muni]">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Código Postal" name="invoice[zip]" id="invoice[zip]">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="content-block">
                <div class="row">
                    <div class="col-66"></div>
                    <div class="col-33">
                        <button id="to-step-7" class="button button-big button-fill color-green">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>