<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link in-step3"> <i class="icon icon-back"></i><span>Vuelo</span></a></div>
        <div class="center sliding">Detalle</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="step03b" class="page step03b">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title" id="step-3-title">Ruta asegurada</div>

            <div class="content-block inset">
                <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
                <div class="list-block  media-list inset">
                    <ul>
                        <li>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Trayecto Ida</div>
                                </div>
                                <div class="item-text" id="step03bpath3[from]">Lorem ipsum dolor sit amet</div>
                            </div>
                        </li>
                        <li id="step03bfligth-date-3-content" class="hide">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Fecha</div>
                                </div>
                                <div class="item-text" id="step03bfligth3[date]">Lorem ipsum dolor sit amet</div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="hide" id="step03broundtrip-3-content">
                    <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. </p>
                    <div class="list-block  media-list inset">
                        <ul>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Trayecto Regreso</div>
                                    </div>
                                    <div class="item-text" id="step03bpath3[to]">Lorem ipsum dolor sit amet</div>
                                </div>
                            </li>
                            <li id="step03bfligth-dateTo-3-content" class="hide">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Fecha</div>
                                    </div>
                                    <div class="item-text" id="step03bfligth3[dateTo]">Lorem ipsum dolor sit amet</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content-block-title">Detalles</div>
                <div class="list-block media-list" style="margin-top:0">
                    <ul class="no-border">
                        <li class="item-content">
                            <div class="item-media"><i class="flaticon-heart56 flaticon-rounded flaticon-rounded-orange"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Equipajes</div>
                                    <div class="item-after"><span class="badge" id="step03bpath3[bagages]"></span></div>
                                </div>
                                <div class="item-text">Costo seguro por pieza: 150 MXN</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="flaticon-airplane49 flaticon-rounded flaticon-rounded-orange"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Trayectos</div>
                                    <div class="item-after"><span class="badge" id="step03bpath3[paths]">2</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content">
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="flaticon-money191 flaticon-rounded flaticon-rounded-green"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Total + IVA</div>
                                    <div class="item-after" id="step03btotal">450 MXN</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-block">
                <p><a id="step03bto-step-4" href="#" class="button button-big button-round color-green">Condiciones</a></p>
            </div>
        </div>
    </div>
</div>