<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Anterior</span></a></div>
        <div class="center sliding">Quinto Paso</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="step07" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Contraseñas Equipaje</div>

            <div class="content-block inset">
                <div class="content-block-inner">
                    <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>

                    <div class="list-block media-list">
                        <ul>
                            <li class="item-content">
                                <div class="item-media"><i class="flaticon-heart56 flaticon-rounded flaticon-rounded-orange"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Equipaje</div>
                                        <div class="item-after"><span class="badge">1</span></div>
                                    </div>
                                    <div class="item-text">9999999999999999999</div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-media"><i class="flaticon-heart56 flaticon-rounded flaticon-rounded-orange"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Equipaje</div>
                                        <div class="item-after"><span class="badge">2</span></div>
                                    </div>
                                    <div class="item-text">9999999999999999999</div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-media"><i class="flaticon-heart56 flaticon-rounded flaticon-rounded-orange"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Equipaje</div>
                                        <div class="item-after"><span class="badge">3</span></div>
                                    </div>
                                    <div class="item-text">9999999999999999999</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="list-block  media-list inset">
                        <ul>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Nombre</div>
                                    </div>
                                    <div class="item-text">Lorem ipsum dolor sit amet</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Número de Vuelo</div>
                                    </div>
                                    <div class="item-text">Lorem ipsum dolor sit amet</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Ruta</div>
                                    </div>
                                    <div class="item-text">Lorem ipsum / dolor sit amet</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Código de Reservación</div>
                                    </div>
                                    <div class="item-text">HJS4566</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Hora</div>
                                    </div>
                                    <div class="item-text">00:00 AM</div>
                                </div>
                            </li>
                            <li>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Fecha</div>
                                    </div>
                                    <div class="item-text">Mes Dia, Año</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. </p>

                </div>
            </div>
            <div class="content-block">
                <p></p>
            </div>
        </div>
    </div>
</div>