<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Selección</span></a></div>
        <div class="center sliding">Tercer Paso</div>
    </div>
</div>


<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="thank-you" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Gracias!!</div>

            <div class="content-block inset">
                <!-- <img src="./img/app/logo-2.png" class="img-responsive img-logo">-->
                <p class="app-name">Tripper</p><p class="app-name">Lock</p>

                <div class="content-block-inner">
                    <div class="card ft-detail-header-img">
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus velit libero, egestas id mauris facilisis, convallis porta nulla. Donec egestas leo cursus, ultricies elit quis, finibus nunc. Aliquam sed felis eget ligula rhoncus fermentum in id leo. Pellentesque bibendum facilisis nibh eget pretium. Praesent dignissim quis eros in venenatis. Morbi laoreet leo sit amet sem volutpat bibendum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-block">
                <p><a id="to-menu" href="./index.html" class="button button-big button-round color-green">VOLVER AL MENU</a></p>
            </div>

        </div>
    </div>
</div>